%h1 welcome to the admin zone

- case @unlock
- when :attempted
  %h1 Attempted to unlock but didn't
  %p
    you might not be on the puzzle box, or the ON_HARDWARE environment
    variable isn't set
- when :succeeded
  %h1 Should be unlocked
  %p
    the unlock process came back happy sooooooo


%table#imagemap
  %tr
    %td{colspan: 3}
      %img{src: "images/choose-your-spell_01.jpg"}
  %tr
    %td{rowspan: 2}
      %img{src: "images/choose-your-spell_02.jpg"}
    %td
      %form{method: 'post', action: 'unlock'}
        %button
          %img{src: "images/choose-your-spell_03.jpg"}
    %td{rowspan: 2}
      %img{src: "images/choose-your-spell_04.jpg"}
  %tr
    %td
      %img{src: "images/choose-your-spell_05.jpg"}

.credits
  %h1 credits

  %p#c1 bodged together by bonzoesc/cocoa crispies
  %p#c2 design help from mancxvi, zap
  %p#c3 fabrication help from eli, mancxvi
  %p#c4 powered by linux, sqlite3, and ruby
