@import "/font/stylesheet.css"

$posgreen: #0f0
$backgreen: #020
$mono: perfect_dos_vga_437_winRg, consolas, monaco, monospace

body
  background: $backgreen
  color: $posgreen
  font-family: $mono

h1
  text-transform: uppercase

p.important
  animation: marquee 10s linear infinite
  text-shadow: 0px 2px black

input
  border: 2px solid $posgreen
  border-radius: 4px
  background: black
  color: $posgreen
  font-family: $mono
  padding: 2px
  font-size: 1.1em

table#imagemap
  margin: 0
  padding: 0
  tr
    margin: 0
    padding: 0
    td
      margin: 0
      padding: 0
      button
        margin: 0
        padding: 0
        border: 0
      img
        margin: -3px -1px
        padding: 0

.credits p
  animation: warez 10s linear infinite
  &#c1
    animation-duration: 7s
  &#c2
    animation-duration: 8s
  &#c3
    animation-duration: 9s

@keyframes marquee
  0%
    transform: translateX(0)
  50%
    transform: translateX(20%)
  100%
    transform: translateX(0)

@keyframes warez
  0%
    transform: translate(0, 10px)
  25%
    transform: translate(40%, 60px)
  50%
    transform: translate(70%, 40px)
  75%
    transform: translate(30%, 30px)
  100%
    transform: translate(0, 10px)
