%h1 welcome to puzzle box
%p solve the puzzles for a prize
%p.important
  make <em>fucking</em> sure the box is unlatched!!!!!
%p lol if you burn out a servo

/ user / password
%form{method: 'post', action: '/step1'}
  %p
    %label
      username
      %input{type: 'text', name: 'username'}
  %p
    %label
      password
      %input{type: 'password', name: 'password'}
  %p
    %input{type: 'submit', value: 'log in'}
